# Conda packages required to run the model
#
# We recommend using the conda-forge channel when creating the environment:
#
#   conda create -n barotropic -c conda-forge --file conda-requirements.txt
#

# Core dependencies for the model:
numpy
netcdf4
pyspharm >= 1.0.8

# Extra dependencies for running the example notebook:
ipython-notebook
iris
cube_browser
